/*
 * ****************** Globals **************** 
 */

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Varela&display=swap');

* {
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif !important;
    ;
}

/* ******************** mode ligth ******************* */
:root {
    --color-main: rgb(225, 37, 27);
    --color-2: rgb(0, 27, 72);
    --color-3: rgb(255, 251, 244);
    --color-4: rgb(255, 255, 255);
    --color-5: rgb(200, 200, 200);
    --color-6: rgb(255, 255, 255);

    --border-boton: rgb(0, 27, 72);
    --border-link: rgb(255, 255, 255);
    --body-bg: rgb(255, 255, 255);
    --bg-ask: rgb(255, 255, 255);

    --color-red: rgb(225, 37, 27);
    --color-black: rgb(6, 6, 6);
    --color-gray: rgb(75, 74, 74);
    --color-odoo-bg: rgb(247, 247, 247);
    --color-bg-footer: rgb(0, 27, 72);
    --color-services: rgb(255, 255, 255);

    --btn-mode-color: rgb(6, 6, 6);
    --btn-color: rgb(0, 27, 72);
    --btn-h: rgb(226, 53, 44);
    --btn-active: rgb(197, 39, 31);
    --bg-img: url("../img/hero1.png");
    --icon-plus: url("../img/plus1.png");
    --icon-minus: url("../img/minus2.png");
}

/* ******************** mode dark ******************* */
.dark-mode {
    --color-main: rgb(6, 6, 6);
    --color-2: rgb(225, 37, 27);
    --color-4: rgb(217, 213, 213);
    --color-5: rgb(168, 165, 165);
    --color-6: rgb(35, 35, 35);

    --border-boton: rgb(225, 37, 27);
    --border-link: rgb(225, 37, 27);
    --body-bg: rgb(25, 25, 25);
    --bg-ask: rgb(35, 35, 35);

    --color-black: rgb(217, 213, 213);
    --color-gray: rgb(185, 185, 185);
    --color-odoo-bg: rgb(25, 25, 25);
    --color-bg-footer: rgb(6, 6, 6);
    --color-services: rgb(15, 15, 15);
    --color-logo: rgb(35, 35, 35);

    --btn-mode-color: rgb(9, 3, 174);
    --btn-color: rgb(25, 25, 25);
    --btn-h: rgb(225, 37, 27);
    --bg-img: url("../img/hero2.png");
    --icon-plus: url("../img/plus2.png");
    --icon-minus: url("../img/minus2.png");
}

.section-1 {
    width: 100% !important;
    background-color: var(--color-odoo-bg) !important;
    padding: 3em 0 !important;
}

.section-2 {
    width: 100% !important;
    padding: 3em 0 !important;
}

.container-main {
    max-width: 1000px !important;
    margin: auto !important;
    padding: 0 11px !important;
}

.title-section {
    font-weight: 700;
    font-size: 30px;
    color: var(--color-black);
    text-align: center;
}

.title-section span {
    color: var(--color-red);
}

.title-section-2{
    color: var(--color-black);
    font-size: 25px;
    font-weight: 600;
}

.paragraph{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray);
}

.btn-treming {
    display: block;
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: var(--btn-color);
    color: var(--color-5);
    border-color: var(--border-boton);
    transition: .3s;
}

.btn-treming:hover {
    background-color: var(--btn-h);
    border-color: var(--btn-h);
}

.btn-treming:active{
    background-color: var(--btn-active);
}




body {
    background-color: var(--body-bg) !important;
}



/* **************************************************************
                               MOVILE 
   ************************************************************** */


/* ******************** section header ******************* */

header {
    background-color: transparent !important;
}

.header .navbar {
    background-color: transparent !important;
}

.navbar-collapse {
    background-color: var(--color-main);
}

.navbar-nav a {
    text-align: center;
}

.nav-bg-color {
    background-color: transparent !important;
}

.toggle-bg {
    background-color: var(--color-main) !important;
}


.logo-container {
    width: 110px !important;
}

.logo {
    width: 100% !important;
}

.txt-color {
    color: var(--color-5) !important;
    font-size: 25px !important
}

.nav-link {
    padding: 0 0 5px 0 !important;
    color: var(--color-5) !important;
    border-bottom: 3px solid transparent;
    transition: 0.4s !important;
}

.nav-link:hover {
    color: var(--color-4) !important;
    border-bottom-color: var(--border-link);
}



/* ******************** section of hero ******************* */

.hero-container {
    height: 100vh;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vh;
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero {
    height: 100%;
    margin: auto;
    padding: 0 11px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.title-hero {
    grid-column: 2 / 10;
    grid-row: 4 / 8;
}

.txt-title {
    font-weight: 700;
    text-align: center;
    color: var(--color-4);
}

.txt-title span {
    color: var(--color-2);
}

.txt-p {
    color: var(--color-5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 15px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.img-hero {
    display: none;
}


/* ******************** color theme change button ******************* */

.btn-mode {
    padding: 5px;
    border-radius: 50%;
    background-color: var(--btn-mode-color);
    z-index: 20000 !important;
}

.moon {
    display: block;
    width: 15px;
    margin: auto;
    filter: invert(1);
    transition: 0.4;
}

.sun {
    display: none;
    width: 15px;
    margin: auto;
    filter: invert(1);
    transition: 0.4;
}


/* ******************** section of Odoo ******************* */

.carousel-i {
    width: 100%;
    height: 400px;
}

.carousel-caption {
    bottom: 4rem !important;
}


.gold-partner {
    width: 150px;
}

.carousel-indicators .active {
    background-color: var(--color-red) !important;
}

.indic {
    background-color: var(--color-gray) !important;
}

.sevice-row {
    width: 100%;
    --bs-gutter-x: 1.5rem !important;
    margin: auto !important;
}

/* ******************** Section Services ********************* */

.feature-box-1 {
    padding: 32px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    margin: 25px 0;
    background-color: var(--color-services);
    position: relative;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    top: 0;
}

.feature-box-1 * {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}

.service {
    text-decoration: none;
}


.feature-box-1 .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: var(--body-bg);
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 42px;
    font-size: 27px;
}

.feature-box-1 .icon i {
    line-height: 70px;
}

.feature-box-1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 10px;
    width: 0;
    background: var(--color-bg-footer);
    z-index: -1;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}

.feature-box-1:hover {
    top: -5px;
    cursor: pointer !important;
}

.feature-box-1:hover h5 {
    color: #ffffff;
}

.feature-box-1:hover p {
    color: rgba(255, 255, 255, 0.8);
}

.feature-box-1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    right: auto;
}

.section {
    padding: 100px 0;
    position: relative;
}

.icon-service {
    --box-size: 70px;
    width: var(--box-size);
    height: var(--box-size);
    padding: 10px;
}

.btn-primary {
    background-color: #20247b;
}

/********************** section busines ********************* */

.main-busines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.img-bus {
    display: none;
}

.busines-content {
    width: 100%;
}

.card {
    background-color: var(--color-6) !important;
    border-color: var(--color-2) !important;
}

.p-busines {
    text-align: center;
    display: none;
}

.box-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.box {
    width: 100%;
    height: 110px;
    background-color: var(--color-bg-footer);
    border-radius: 15px;
    padding: 1.5em;
    margin: 1rem 0;
}

.one {
    grid-row: 1 / 2;
    grid-column: 1/ 9;
}

.two {
    grid-row: 2 / 3;
    grid-column: 1/ 9;
}

.three {
    grid-row: 3 / 4;
    grid-column: 1/ 9;
}

.four {
    grid-row: 4 / 5;
    grid-column: 1/ 9;
}

.box-letter {
    color: var(--c);
    text-align: center;
}

.b-l-t {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-4);
}

.b-l-p {
    font-size: 15px;
    line-height: 15px;
    color: var(--color-5);
}

/********************** Section of logo ********************* */
.celda {
    background-color: transparent;
    box-shadow: 0px 0px 11px -1px rgba(71, 71, 71, 0.51);
    -webkit-box-shadow: 0px 0px 11px -1px rgba(71, 71, 71, 0.51);
    -moz-box-shadow: 0px 0px 11px -1px rgba(71, 71, 71, 0.51);
    overflow: hidden;
    height: 45px;
    margin: 4px;
    transition: all .1.5s ease;
}

.efecto:hover {
    border-bottom: 3px solid rgba(165, 165, 165, 0.535);
    cursor: pointer;
}

.box-logo {
    background-color: var(--color-logo);
    overflow: hidden;
    width: 120px !important;
    height: 60px;
    margin: 4px .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-logo:hover {
    background-color: #fff;
}

.box-logo>a>img {
    filter: grayscale(100%);
    width: 100px;
}

.box-logo>a>img:hover {
    filter: grayscale(0%);
}

.logo-row {
    --bs-gutter-x: 0 !important;
    margin-top: .5rem !important;
}


/* *********************** Section of asked ******************************** */

.accordion-button::after {
    background-image: var(--icon-plus) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--icon-minus) !important;
}

.ask-item {
    font-weight: 600;
    color: var(--color-gray) !important;
}

.bg-ask-item {
    background-color: var(--color-6) !important;
}

.bg-ask {
    background-color: var(--bg-ask) !important;
    box-shadow: transparent !important;
    outline: 1px;

}

.bg-ask:focus {
    background-color: var(--color-main) !important;
    color: #fff !important;
    box-shadow: none !important;
}

/* ***************** formulario - Griselda ************************ */

.container-form {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.title-forany {
    font-family: 'Poppins', Georgia, 'Times New Roman';
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-black);
}

.icons {
    padding: 0 2.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.t-icon {
    color: var(--color-black);
    font-size: 16px;
    font-weight: 600;
    
}

.icon-letter {}

.imgphone {
    width: 40px;
    height: 40px;
    margin-top: 1px;
    margin-right: 12px;
}

.form-vertical {
    width: 100%;

}

.form-horizontal {
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    width: 100%;


}


.Yourname {
    width: 47%;
    margin-bottom: 2%;

}

.Youremail {
    width: 47%;
    margin-bottom: 2%;
}

.Yourphone {
    margin-top: 2%;
}

.iconos {
    width: 69%;
}

.nam-ema {
    flex-direction: column;
}

.input-heigth {
    height: calc(3rem + 2px) !important;
}

.p-i {
    padding: .50rem 0 !important;
}

.form-control {
    border: 2px solid transparent !important;
    background-color: var(--color-services) !important;
}

.color-input {
    color: var(--color-black) !important;
}

.color-text {
    color: var(--color-gray) !important;
    font-size: 14px !important;
}

.color-text-p {
    color: var(--color-gray) !important;
    font-size: 14px;
    font-weight: 500;
}

.form-control:focus {
    border-color: var(--color-red) !important;
}

.btn-margin {
    margin: auto;
}


/* formulario  :el control del formulario diseños de las casillas para que tengan un sombreado rojo */


.form-control:focus {
    box-shadow: none !important;
}

/* ************************ section footer ******************************** */

.section-footer {
    width: 100%;
    padding-top: 20px;
    background-color: var(--color-bg-footer);
}

.footer-container {
    padding: 12px;
}

.footer-container h2 {
    display: block;
    width: 200px;
    font-size: 40px;
    color: var(--color-4);
    text-align: center;
    margin: auto;
    padding: 15px 0;
}

.footer {
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1.5px solid var(--color-4);

}

.footer-item {
    height: 100%;
}


.footer-item h5 {
    color: var(--color-4);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.footer-1 p {
    color: var(--color-5);
    text-align: center;
}

.font-size {
    font-size: 14px;
}

.ft-section-2 {
    display: flex;
    flex-direction: column;
}


.footer-2 {
    margin-top: 10px;
}

.footer-2 ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-2 ul a {
    text-decoration: none;
    color: var(--color-5);
    transition: .4s;
}

.footer-2 ul a:hover {
    color: var(--color-4);
}

.footer-container P {
    color: var(--color-5);
}

.copy-rigth {
    display: block;
    margin: auto;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


/* **************************************************************
                              TABLE 
   ************************************************************** */

@media (min-width:500px) {

    /* ***** section of header ************* */

    .txt-color {
        color: var(--color-5) !important;
        font-size: 18px !important
    }

    .hero-container {
        height: 100vh;
        background-image: var(--bg-img);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100vh;
        background-color: var(--color-main);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hero {
        height: 100%;
        margin: auto;
        padding: 0 11px;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    .title-hero {
        grid-column: 2 / 10;
        grid-row: 5 / 9;
    }

    .txt-title {
        font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: var(--color-4);
    }

    .txt-title span {
        color: var(--color-2);
    }

    .txt-p {
        color: var(--color-5);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        line-height: 15px;
    }

    .btn-hero {
        font-size: 0.9rem;
    }

    .btn-container {
        justify-content: center;
        flex-direction: row;
    }

    /* ************* section of business ***************** */

    .box-container {
        max-width: 900px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(11, 1fr);
        margin: 2rem auto;
    }

    .card {
        max-width: 700px !important;
    }


    .box {
        width: 100%;
        height: 110px;
        background-color: var(--color-bg-footer);
        border-radius: 15px;
        padding: 1.5em;
    }

    .one {
        grid-row: 1 / 2;
        grid-column: 2/ 6;
    }

    .two {
        grid-row: 1 / 2;
        grid-column: 7 / 11;
    }

    .three {
        grid-row: 2 / 3;
        grid-column: 2 / 6;
    }

    .four {
        grid-row: 2 / 3;
        grid-column: 7 / 11;
    }

    .box-letter {
        color: var(--c);
        text-align: center;
    }

    .b-l-t {
        font-size: 30px;
        font-weight: 700;
        color: var(--color-4);
    }

    .b-l-p {
        font-size: 12px;
        line-height: 12px;
        color: var(--color-5);
    }

    /* ******************** section odoo ************************ */

    .section-odoo {
        padding: 0 0 2.5rem 0 !important;
    }

    /* formulario - Griselda */

    .container-icon {
        display: flex;
    }

    .icons {
        width: auto;
        padding: 0 2.5rem;
        margin: auto;
        display: flex;
        justify-content: start;
    }

    .t-icon {
        color: var(--color-black);
    }


    .form-vertical {
        width: 100%;

    }

    .form-horizontal {
        font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
        margin: auto;
        width: 100%;


    }


    .Yourname {
        width: 47%;
        margin-bottom: 2%;

    }

    .Youremail {
        width: 47%;
        margin-bottom: 2%;
    }

    .Yourphone {
        margin-top: 2%;
    }

    .icons {
        padding: 0;
        margin: auto;
        display: flex;
        justify-content: start;
    }

    .nam-ema {
        flex-direction: column;
    }

    .p-i {
        padding: .50rem 0 !important;
    }

    .color-input {
        color: var(--color-black) !important;
    }

    .color-text {
        color: var(--color-gray) !important;
    }

    .color-text-p {
        color: var(--color-gray) !important;
    }

    .form-control:focus {
        border-color: var(--color-red) !important;
    }

    @media (max-width:580px) {
        .icons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


    /* formulario  :el control del formulario diseños de las casillas para que tengan un sombreado rojo */


    .form-control:focus {
        box-shadow: none !important;
    }

    .Contenedor {
        width: 100%;
        margin: 0;
        height: 100%;

        margin-left: auto;
        margin-right: auto;
        background-position: center center;
    }

    .section-touch {
        max-width: 1000px;

    }

    /* ******************* section footer ************************** */

    .ft-section-2 {
        width: 100%;
        flex-direction: row;

    }

    .footer-2 {
        margin-top: 20px;
        width: 33.33%;
        margin-left: 10px;
    }



}


/* **************************************************************
                              DESKTOP 
   ************************************************************** */

@media (min-width:992px) {

    /* ******************** section of header ******************* */
    .navbar-collapse {
        background-color: transparent !important;
    }

    .menu-content {
        max-width: 1000px;
        margin: auto;
    }

    .txt-color {
        font-size: 15px !important;
    }

    /* ******************** section of hero ******************* */

    .hero {
        grid-template-rows: repeat(6, 1fr);
    }

    .title-hero {
        grid-column: 1 / 6;
        grid-row: 3 / 5;
    }

    .txt-title {
        text-align: start;
        font-size: 45px;
    }

    .txt-p {
        text-align: start;
        font-size: 19px;
        line-height: 19px;
        color: var(--color-5);
    }

    .btn-container {
        justify-content: start;
    }

    .btn-hero {
        padding: 4px 20px;
        margin-right: 5px;
        font-size: 13px;
    }

    .img-hero {
        display: block;
        width: 450px;
        grid-column: 6 / 11;
        grid-row: 2 / 5;
    }

    .img-hero img {
        width: 100%;
    }

    /* ******************** section of Odoo ******************* */

    .section-odoo {
        padding: 2.5rem 0 !important;
    }

    .carousel-i {
        height: 300px;
    }

    .carousel-caption {
        bottom: 4rem !important;
    }

    /********************** section busines ********************* */
    .main-busines {
        flex-direction: row;
    }

    .busines-content {
        padding-left: 11px;
    }

    .title-busines {
        text-align: start;
    }

    .btn-business {
        display: none;
    }

    .p-busines {
        display: block;
        text-align: start;
    }

    .box-container {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(8, 1fr);
    }

    .img-bus {
        display: inline-block;
    }

    .box {
        width: 218px;
    }

    .one {
        grid-row: 1 / 5;
        grid-column: 1 / 5;
        margin: 0 7px 7px 0;
    }

    .two {
        grid-row: 1 / 5;
        grid-column: 5 / 9;
        margin: 0 0 7px 7px;
    }

    .three {
        grid-row: 5 / 9;
        grid-column: 1 / 5;
        margin: 7px 7px 0 0;
    }

    .four {
        grid-row: 5 / 9;
        grid-column: 5 / 9;
        margin: 7px 0 0 7px;
    }


    /* *******************formulario - Griselda **********/
    .container-form {
        flex-direction: row;
    }

    .title-forany {
        text-align: start;
    }

    .container-icon {
        flex-direction: column;
        justify-content: start;

    }

    .form-vertical {
        width: 60%;

    }

    .form-horizontal {
        width: 100%;


    }

    .icons {
        margin: 0;
        justify-content: start;
    }



    .Yourname {
        width: 47%;
        margin-bottom: 2%;

    }

    .Youremail {
        width: 47%;
        margin-bottom: 2%;
    }

    .Yourphone {
        margin-top: 2%;
    }

    .iconos {
        width: 69%;
    }

    .nam-ema {
        flex-direction: row;
    }

    .color-input {
        color: var(--color-black) !important;
    }

    .color-text {
        color: var(--color-gray) !important;
    }

    .color-text-p {
        color: var(--color-gray) !important;
    }

    .form-control:focus {
        border-color: var(--color-red) !important;
    }

    .btn-margin {
        margin: 0;
    }


    /* formulario  :el control del formulario diseños de las casillas para que tengan un sombreado rojo */


    .form-control:focus {
        box-shadow: none !important;
    }

    .Contenedor {
        width: 100%;
        margin: 0;
        height: 100%;

        margin-left: auto;
        margin-right: auto;
        background-position: center center;
    }

    .section-touch {
        max-width: 1000px;

    }



    /* ************************ section footer ******************************** */

    .footer {
        flex-direction: row;

    }

    .ft-section-2 {
        width: 40%;
    }

    .footer-item h5 {
        text-align: start;
    }

    .footer-1 {
        width: 50%;
        margin-right: 35px;
    }

    .footer-1 p {
        text-align: start;
    }

    .footer-2 {
        margin-top: 0;
    }

    .footer-2 ul {
        text-align: start;
    }


    .footer-2 ul a:hover {
        color: var(--color-4);
    }

    .copy-rigth {
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }


}